### keil项目相关的忽略文件 ###
*.plg
*.uvgui.*
JLinkLog.txt
*.o
*.d
*.crf
*.tra
*.axf
# *.hex
*.lnp
*.sct
*.__i
*.dep
*.map
*.lst
*.iex
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
stm32_client/**/*.htm
stm32_client/driver/**/*.bak
stm32_client/**/*.log
stm32_client/**/*.zip
!*.c
!*.h
!*.s

### Java Server项目相关的忽略文件 ###

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
