### keil项目相关的忽略文件 ###
*.plg
*.uvgui.*
JLinkLog.txt
*.o
*.d
*.crf
*.tra
*.axf
# *.hex
*.lnp
*.sct
*.__i
*.dep
*.map
*.lst
*.iex
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
stm32_client/**/*.htm
stm32_client/driver/**/*.bak
stm32_client/**/*.log
stm32_client/**/*.zip
!*.c
!*.h
!*.s

### Java Server项目相关的忽略文件 ###

# 日志文件务必忽略
**/back_end/driver-manager-system/logs/**
*.log
back_end/temp/**
!back_end/driver-manager-system/*.xml
!back_end/driver-manager-system/src/main/**
!back_end/driver-manager-system/src/test/**

# 打包文件忽略
**/back_end/driver-manager-system/deploy-bin/apps/*.jar

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### driver-ui ###
!*.vue
!*.js
.DS_Store
node_modules/
dist/
front_end/driver-ui/dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
package-lock.json
yarn.lock
